@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (ViewData.ContainsKey("TotalCustomers")) {
        @:Total Customers: @ViewData["TotalCustomers"]
        @:Deployed from CI
    }
</div>
