@{
    ViewData["Title"] = "Management";
}

<h1>Management Panel</h1>

<div>
    <ul>
        <li>
            <a asp-controller="Customer" asp-action="Index">Customers</a>

        </li>
        <li>
            <a asp-controller="Location" asp-action="Index">Locations</a>

        </li>
        <li>
            <a asp-controller="Product" asp-action="Index">Products</a>

        </li>
        <li>
            <a asp-controller="Order" asp-action="Index">Orders</a>
        </li>
    </ul>
    
</div>
